# Python
__pycache__/
*.py[cod]
*.pyo
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Entorno
.env
*.env.local

# DB local (si usás SQLite para tests)
*.db
*.sqlite

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel/
