fastapi==0.115.6
uvicorn==0.34.0
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
python-dotenv==1.0.1
pydantic==2.11.1
email-validator==2.3.0
pydantic-settings==2.8.0
httpx==0.28.1
resend==2.0.0
passlib==1.7.4
bcrypt==4.2.1
python-jose==3.3.0
cryptography==44.0.1
